@tailwind base;
@tailwind components;
@tailwind utilities;
 
#root{
    font-size: 100px;
    color: rgb(178, 178, 178);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}